---
---

@import "base";

body {
  padding-top: 40px;
  background-color: $mdbluegreydark;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

div.container {
  min-height: 90vh;
}

.bloglist-entry {
  position: relative;
  padding: 8px 16px 16px 16px;
  margin: 10px 20px 10px 10px;
  @include card(1);
}
