---
---

@import "base";

body {
  padding-top: 40px;
  background-color: $mdbluegreydark;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 40px;
}

div.container {
  margin-top: 40px;
  min-height: 80vh;
}

.cell-content {
  flex: 2 0 0;
}
.cell-sidebar {
  flex: 1 0 0;
  border-left: 1px $mdgreylight solid;
  margin-left: -1px;
  padding-left: 1em;
}
