---
---

@import "base";

nav {
  position: relative;
  top: -85px;
  height: 80px;
  background-color: #444;

  ul {
    list-style: none;
    display: flex;
    height: inherit;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  li {
    flex: 0 1 150px;
    text-align: center;

    a {
      color: #fff;
      padding: 0.5em 1em 0.5em 1em;
      transition-duration: 0.2s;

      &:hover, &:active {
        color: $primary-brand-color;
        border-bottom: 3px $primary-brand-color solid;
      }
    }
  }
}

.header-background {
  height: 100vh;
  background-image: url({{ "/img/sky.jpg" | relative_url }});
  background-position: 50% 50%;
}

.header-foreground {
  position: absolute;
  top: 15vh;
}

.pres {
  position: relative;
  display: inline;
  top: 20vh;
  left: 30vh;
  font-size: 1.5em;
  color: $white;

  span {
    font-size: 2em;
  }

  small {
    font-size: 0.75em;
    color: darken($white, 10%);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  flex: 0 0 $container-width*100%;
  max-width: $container-width*100%;
  margin-left: (1-$container-width)/2*100%;
}

#contact {
  padding: 2em 0 2em 0;
  background-color: #37474F;
}

.contact-card {
  $contact-card-width: 2/5;
  flex: 0 0 $contact-card-width*100%;
  max-width: $contact-card-width*100%;
  margin-left: (1-$contact-card-width)/2*100%;

  background-color: $white;
  padding: 8px 16px 16px 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  font-size: 1.4em;

  h2 {
    margin: 0 0 -0.1em 0;

  }
}
