---
---

@import "base";

nav {
  position: relative;
  top: -75px;
  height: 80px;
}

.header-background {
  height: 100vh;
  background-image: url({{ "/img/sky.jpg" | relative_url }});
  background-position: 50% 50%;
}

.header-foreground {
  position: absolute;
  top: 15vh;
}

.pres {
  position: relative;
  display: inline;
  top: 20vh;
  left: 30vh;
  font-size: 1.5em;
  color: $white;

  span {
    font-size: 2em;
  }

  small {
    font-size: 0.75em;
    color: darken($white, 10%);
  }
}

#contact {
  padding: 2em 0 2em 0;
  background-color: #37474F;
}

.contact-card {
  $contact-card-width: 2/5;
  flex: 0 0 $contact-card-width*100%;
  max-width: $contact-card-width*100%;
  margin-left: (1-$contact-card-width)/2*100%;

  font-size: 1.4em;

  h2 {
    margin: 0 0 -0.1em 0;

  }
}
