@use "variables";
@use "fonts";

// Components
@use "project_grid";

body {
  background: #222;
  color: #ddd;
  font-family: "JetBrains Mono", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
}

a {

  &,
  &:visited {
    color: #ddd;
    text-decoration: underline;
  }

  &:hover,
  &:active {
    color: #fefefe;
  }
}

.home-container {
  height: 100dvh;
  overflow: hidden scroll;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  &>section {
    scroll-snap-align: start;
  }

  .hero {
    background: #333;
    height: 100dvh;
    position: relative;

    &>div {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (width >=500px) {
        padding: 4rem 2rem;
      }

      &>h1 {
        font-size: 10rem;
        font-weight: 100;
        letter-spacing: -0.6rem;
        line-height: 9rem;
        margin: 4rem 0 2rem;

        // Rotate on mobile
        @media (width < 500px) {
          writing-mode: vertical-rl;
        }

        @media (width >=500px) {
          margin: 0 0 2rem;
        }
      }

      &>span {
        margin-left: 1rem;
      }
    }

    &>span:last-child {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: slow-bounce 2s infinite;
    }
  }

  #projects {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    margin: 2rem auto;
    max-width: 1400px;
    padding: 0 2rem;

    @media (width >=500px) {
      padding: 4rem;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  background: #333;
  padding: 1rem 2rem;
  gap: 0.5rem;

  @media (width >=500px) {
    padding: 1rem 4rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .links {
    display: flex;
    gap: 1rem;
  }
}


@keyframes slow-bounce {
  from {
    bottom: 1rem;
  }

  to {
    bottom: 0.5rem;
  }
}
