---
title: Portfolio
---

<!DOCTYPE html>
<html lang="en-US">
<head>

<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

{% include meta.html %}

<link rel="stylesheet" href={{ "/css/home.css" | relative_url }}>
</head>
<body>

  {% include navbar.html %}
  
  <div id="navbar-child" class="navbar">
    <ul id="hiddennav" class="home-navbar-ul">
      <li><a href="#top" onclick="return shiftTo('home')">Top</a></li>
      <li><a href="#aboutme" onclick="return shiftTo('aboutme')">About me</a></li>
      <li><a href="#projects" onclick="return shiftTo('projects')">Projects</a></li>
      <li><a href="#contact" onclick="return shiftTo('contact')">Contact</a></li>
    </ul>
  </div>

  <div class="header-container">
    <div class="header-layer header-background"></div>
    <div class="header-layer header-foreground">
      <div class="pres">
        <span>Simon Stefan Barth <small>@data5tream</small></span><br>
        Web Developer in the making. Building my own brand one page at a time.
      </div>
    </div>
  </div>

  <nav class="home-navbar">
    <ul class="home-navbar-ul">
      <li><a href="#top" onclick="return shiftTo('home')"><i class="fa fa-home fa-3x" aria-hidden="true"></i><br><span>Top</span></a></li>
      <li><a href="#aboutme" onclick="return shiftTo('aboutme')"><i class="fa fa-id-card fa-3x" aria-hidden="true"></i><br><span>About me</span></a></li>
      <li><a href="#projects" onclick="return shiftTo('projects')"><i class="fa fa-file-code-o fa-3x" aria-hidden="true"></i><br><span>Projects</span></a></li>
      <li><a href="#contact" onclick="return shiftTo('contact')"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i><br><span>Contact</span></a></li>
    </ul>
  </nav>
  <div class="container">
    <div id="aboutme" class="content">
      <div>
        <h2>About me</h2>
        <p>Amet eum nihil et voluptatem perferendis quas omnis suscipit. Soluta omnis saepe magnam. Voluptate repellendus dolorem eveniet rerum rem. Vel aut voluptatum ut a nihil commodi ipsam. Nulla consequatur occaecati nostrum nisi qui architecto.</p>
        <p>Magni eum delectus aut numquam ab. Voluptates reprehenderit et reiciendis tempore odio saepe architecto. Et a quod vitae quae amet ut. Voluptatem minima eius delectus ut architecto minima atque. Totam itaque quia inventore.</p>
        <p>Delectus molestiae sit aperiam eos sunt error ipsam et. Delectus ducimus ipsam eum perspiciatis amet neque. Enim ipsa perferendis facilis necessitatibus. Laborum quis dolore et. Minus ducimus minima ut magnam autem dolorum. Labore nisi et ut qui.</p>
        <p>Et distinctio quaerat assumenda facere nihil enim molestias. Aut id modi animi et doloremque non amet illo. Optio in temporibus eaque voluptates perferendis tempora iure. Aspernatur nobis dolores aut eum. Dignissimos enim et natus sapiente et nostrum dicta in. Sed eum facere numquam laboriosam accusantium.</p>
        <p>Fuga quia sunt numquam molestiae perferendis. Ut eum qui accusamus tempora quos. Dignissimos ad soluta et cupiditate mollitia. Qui nihil et alias. Laboriosam porro et hic aut rerum quis tempora. Vel nam ex qui eius autem vel quam.</p>
        {% highlight js %}
          // Hello world
          system.log("hello world");
        {% endhighlight %}
      </div>
    </div>
  </div>

  <hr class="dark">

  <div class="container">
    <div id="projects" class="content">
      <div>
        <h2>Projects</h2>
        <p>Nemo atque aut tenetur id eius corrupti. Eum magni in eos doloribus hic qui. Minus sed enim ab qui qui reiciendis necessitatibus quas. Sapiente deleniti adipisci sequi. Totam ut alias a.</p>
        <p>Sunt natus culpa autem mollitia repellat dolorem vel. Molestiae dolorum inventore eos. Porro qui sit error mollitia. Aliquam non consequuntur nihil. Est labore labore est aut illo magnam unde. Corporis pariatur accusamus et incidunt.</p>
        <p>Dolores harum modi possimus velit eius temporibus. Repellendus qui illum aspernatur. Voluptatem rerum quas alias tempore autem. Enim ducimus et nam necessitatibus. Corporis sit officia quibusdam qui modi aut eaque autem. Est necessitatibus beatae aliquid et molestiae qui totam.</p>
        <p>Aut voluptatibus omnis aliquam. Inventore dolorem suscipit rerum fuga quia. Sit ut cupiditate quae iure vel consectetur earum quia. Impedit quis aliquid qui consectetur omnis debitis.</p>
      </div>
    </div>
  </div>

  <div id="contact" class="container">
    <div class="contact-card card">
      <h2>Contact</h2>
      You can contact me on <a href="https://gitter.im/Data5tream" target="_blank">Gitter</a><br>
    </div>
  </div>

  {% include footer.html %}

  <script src={{"js/index.js" | absoulte_url }}></script>

</body>
</html>
