---
title: Portfolio
---

<!DOCTYPE html>
<html lang="en-US">
<head>

<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

{% include meta.html %}

<link rel="stylesheet" href={{ "/css/home.css" | relative_url }}>
</head>
<body>

  {% include navbar.html %}

  <div id="navbar-child" class="navbar">
    <ul id="hiddennav" class="home-navbar-ul">
      <li><a href="#top" onclick="return shiftTo('home')">Top</a></li>
      <li><a href="#aboutme" onclick="return shiftTo('aboutme')">About me</a></li>
      <li><a href="#projects" onclick="return shiftTo('projects')">Projects</a></li>
      <li><a href="#contact" onclick="return shiftTo('contact')">Contact</a></li>
    </ul>
  </div>

  <div class="header-container">
    <div class="header-layer header-background">
      <div class="header-layer header-foreground">
        <div class="pres">
          <span>Simon Stefan Barth <small>@data5tream</small></span><br>
          <code>//TODO add inspirational text here</code>
        </div>
        <img src={{ "/img/portrait.jpg" | absolute_url }} class="animated fadeInRightBig" alt="portrait" />
      </div>
    </div>
  </div>

  <nav class="home-navbar">
    <ul class="home-navbar-ul">
      <li><a href="#top" onclick="return shiftTo('home')"><i class="fa fa-home fa-3x" aria-hidden="true"></i><br><span>Top</span></a></li>
      <li><a href="#aboutme" onclick="return shiftTo('aboutme')"><i class="fa fa-id-card fa-3x" aria-hidden="true"></i><br><span>About me</span></a></li>
      <li><a href="#projects" onclick="return shiftTo('projects')"><i class="fa fa-file-code-o fa-3x" aria-hidden="true"></i><br><span>Projects</span></a></li>
      <li><a href="#contact" onclick="return shiftTo('contact')"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i><br><span>Contact</span></a></li>
    </ul>
  </nav>
  <div class="container">
    <div id="aboutme" class="content">
      <h1>About me</h1>
      <p>(I guess I'll have to write something real here someday)</p>
      <p>Amet eum nihil et voluptatem perferendis quas omnis suscipit. Soluta omnis saepe magnam. Voluptate repellendus dolorem eveniet rerum rem. Vel aut voluptatum ut a nihil commodi ipsam. Nulla consequatur occaecati nostrum nisi qui architecto.</p>
      <p>Magni eum delectus aut numquam ab. Voluptates reprehenderit et reiciendis tempore odio saepe architecto. Et a quod vitae quae amet ut. Voluptatem minima eius delectus ut architecto minima atque. Totam itaque quia inventore.</p>
      <p>Delectus molestiae sit aperiam eos sunt error ipsam et. Delectus ducimus ipsam eum perspiciatis amet neque. Enim ipsa perferendis facilis necessitatibus. Laborum quis dolore et. Minus ducimus minima ut magnam autem dolorum. Labore nisi et ut qui.</p>
      <p>Et distinctio quaerat assumenda facere nihil enim molestias. Aut id modi animi et doloremque non amet illo. Optio in temporibus eaque voluptates perferendis tempora iure. Aspernatur nobis dolores aut eum. Dignissimos enim et natus sapiente et nostrum dicta in. Sed eum facere numquam laboriosam accusantium.</p>
      <p>Fuga quia sunt numquam molestiae perferendis. Ut eum qui accusamus tempora quos. Dignissimos ad soluta et cupiditate mollitia. Qui nihil et alias. Laboriosam porro et hic aut rerum quis tempora. Vel nam ex qui eius autem vel quam.</p>
      {% highlight js %}
        system.log("hello world");
        >>> Hello world!
      {% endhighlight %}
    </div>
  </div>

  <hr class="stripes">

  <div class="container">
    <div id="projects" class="content-projects">
      <h1>Projects</h1>
      <div class="project-container">
        <div class="project-cell">
          <div class="card">
            <div class="cardimg">
              <a href={{ "/" | absolute_url }}><img src={{ "/img/thumbnails/portfolio_thumbnail.png" | absolute_url }} class="cardimg" alt="data5tream portfolio" /></a>
            </div>
            <div class="cardtitle">
              My portfolio
            </div>
            <div class="cardcontent">
              {{ site.description }}
            </div>
            <div class="cardbottom">
              <div class="cardlink"><a href={{ "/" | absolute_url }} target="_blank">Visit the portfolio</a></div>
            </div>
          </div>
        </div>
        <div class="project-divider">
          <hr class="stripes mini">
          <h1>freeCodeCamp projects</h1>
        </div>
        <div class="project-cell">
          <div class="card">
            <div class="cardimg">
              <a href={{ "/fcc_projects/pomodoro.html" | absolute_url }}><img src={{ "/img/thumbnails/pomodoro_thumbnail.png" | absolute_url }} class="cardimg" alt="Pomodoro clock" /></a>
            </div>
            <div class="cardtitle">
              Pomodoro Clock
            </div>
            <div class="cardcontent">
              A pomodoro clock built with Bootstrap & jQuery
            </div>
            <div class="cardbottom">
              <div class="cardlink"><a href={{ "/fcc_projects/pomodoro.html" | absolute_url }}>Clock in</a></div>
            </div>
          </div>
        </div>
        <div class="project-cell">
          <div class="card">
            <div class="cardimg">
              <a href={{ "/fcc_projects/calculator.html" | absolute_url }}><img src={{ "/img/thumbnails/calculator_thumbnail.png" | absolute_url }} class="cardimg" alt="Calculator" /></a>
            </div>
            <div class="cardtitle">
              Calculator
            </div>
            <div class="cardcontent">
              A calculator built with Bootstrap & jQuery
            </div>
            <div class="cardbottom">
              <div class="cardlink"><a href={{ "/fcc_projects/calculator.html" | absolute_url }}>Calculate</a></div>
            </div>
          </div>
        </div>
        <div class="project-cell">
          <div class="card">
            <div class="cardimg">
              <a href={{ "/fcc_projects/twitch.html" | absolute_url }}><img src={{ "/img/thumbnails/twitch_thumbnail.png" | absolute_url }} class="cardimg" alt="Twitch widget" /></a>
            </div>
            <div class="cardtitle">
              Twitch widget
            </div>
            <div class="cardcontent">
              A Twitch streamer status widget built with Bootstrap & jQuery using a REST API
            </div>
            <div class="cardbottom">
              <div class="cardlink"><a href={{ "/fcc_projects/twitch.html" | absolute_url }}>Check streamers</a></div>
            </div>
          </div>
        </div>
        <div class="project-cell">
          <div class="card">
            <div class="cardimg">
              <a href={{ "/fcc_projects/wiki.html" | absolute_url }}><img src={{ "/img/thumbnails/wiki_thumbnail.png" | absolute_url }} class="cardimg" alt="Wikipedia search" /></a>
            </div>
            <div class="cardtitle">
              Wikipedia search
            </div>
            <div class="cardcontent">
              A Wikipedia search widget built with Bootstrap & jQuery using the Wikimedia REST API
            </div>
            <div class="cardbottom">
              <div class="cardlink"><a href={{ "/fcc_projects/wiki.html" | absolute_url }}>Search the wiki</a></div>
            </div>
          </div>
        </div>
        <div class="project-cell">
          <div class="card">
            <div class="cardimg">
              <a href={{ "/fcc_projects/quote-machine.html" | absolute_url }}><img src={{ "/img/thumbnails/quote_thumbnail.png" | absolute_url }} class="cardimg" alt="Quote machine" /></a>
            </div>
            <div class="cardtitle">
              Quote Machine
            </div>
            <div class="cardcontent">
              Get random quotes using Bootstrap, jQuery and a REST API
            </div>
            <div class="cardbottom">
              <div class="cardlink"><a href={{ "/fcc_projects/quote-machine.html" | absolute_url }}>Get quotes</a></div>
            </div>
          </div>
        </div>
        <div class="project-cell">
          <div class="card">
            <div class="cardimg">
              <a href={{ "/fcc_projects/weather.html" | absolute_url }}><img src={{ "/img/thumbnails/weather_thumbnail.png" | absolute_url }} class="cardimg" alt="Weather widget" /></a>
            </div>
            <div class="cardtitle">
              Weather widget
            </div>
            <div class="cardcontent">
              A weather widget that displays the current weather using IP based geolocation.<br>
              Built using Bootstrap & jQuery for the front-end and python for the back-end.
            </div>
            <div class="cardbottom">
              <div class="cardlink"><a href={{ "/fcc_projects/weather.html" | absolute_url }}>Get your weather</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="contact" class="container">
    <div class="contact-card card">
      <div class="cardtitle">
        Contact
      </div>
      <div class="cardcontent">
        <div class="wrapper">
          <div class="cell">
            <a target="_blank" href="https://github.com/Data5tream"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          </div>
          <div class="cell">
            <a target="_blank" href="https://www.freecodecamp.com/data5tream"><i class="fa fa-free-code-camp fa-2x" aria-hidden="true"></i></a>
          </div>
          <div class="cell">
            <a target="_blank" href="https://www.twitter.com/data5tream"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

  <script src={{"js/base.js" | absoulte_url }}></script>
  <script src={{"js/index.js" | absoulte_url }}></script>

</body>
</html>
