---
layout: "layouts/base.njk"
tags: project
title: simple-web-healthcheck
description: Container healthcheck for web applications
chips:
  - rust
  - web
github: https://github.com/Data5tream/simple-web-healthcheck-rs
---
<h1>Simple Web Healthcheck</h1>

