---
layout: "layouts/base.njk"
tags: project
title: simple-status-page
description: Minimalistic status page
chips:
  - rust
  - lit
  - web
github: https://github.com/Data5tream/simple-status-page
---
<h1>Simple Status Page</h1>

<p>
    A web app that does status checking. Configured through a simple config.toml (or environment variables).
</p>


