---
layout: "layouts/base.njk"
tags: project
title: warp-directory
description: Quickly change between saved directories
chips:
  - rust
  - cli
github: https://github.com/Data5tream/warp-directory-rs
---
<h1>warp-directory-rs</h1>

