---
layout: "layouts/base.njk"
tags: project
title: WebTestContainer
description: Test your infrastructure with a basic web service
chips:
  - rust
  - web
  - container
github: https://github.com/Data5tream/web-test-container
---
<h1>Web Test Container</h1>

