<footer class="container">
  <div class="content-wide">
    <div class="cell">
      <i class="fa fa-copyright" aria-hidden="true"></i> Copyright Simon St. Barth, 2017<br><br>
      <a href="#top">To top</a>
    </div>
    <div class="cell">
      <a href="{{ "/blog.html" | absolute_url }}">Blog</a><br><br>
      <a href="https://github.com/Data5tream" target="_blank">Github</a> &nbsp; | &nbsp;
      <a href="https://gitter.im/Data5tream" target="_blank">Gitter</a> &nbsp; | &nbsp;
      <a href="https://twitter.com/Data5tream" target="_blank">Twitter</a>
    </div>
    <div class="cell">
      {{ site.description }}<br><br>
      Source is available on <a href="https://github.com/data5tream/data5tream.github.io">Github</a>
    </div>
  </div>
</footer>
