<footer>
  <span>&copy; 2025 Simon Barth</span>
  <div class="links">
    <a href="https://github.com/Data5tream" target="_blank">GitHub</a>
    <a href="https://crates.io/user/Data5tream" target="_blank">Crates</a>
  </div>
</footer>
