<h2>Hi, I'm Simon</h2>
<p>I’m a software developer working mostly with Python and TypeScript. This site is a place to share some of my
    projects, notes, and things I’ve learned along the way. The following projects are an excerpt of my projects. For a
    full list, check out my <a href="https://github.com/Data5tream" target="_blank">GitHub</a>.</p>
