
// Import color definitions
@import "colors";

// Font stacks
$font-stack: 'Open Sans', sans-serif;

// Colors
$primary-brand-color: $mdorange;
$primary-text-color: $mdgreydark;

$primary-background-color: $white;
$code-background-color: $mdgreylight;

// Containers & margins
$container-width: 3/5;
