
// Import color definitions
@import "colors";

// Font & Text
$font-stack: 'Open Sans', sans-serif;
$font-default-size: 16px;

// Colors
$primary-brand-color: $mdorange;
$primary-text-color: $mdgreydark;

$primary-background-color: $white;
$code-background-color: $mdgreylight;

// Containers & margins
$container-width: 3/5;
$container-width-wide: 4/5;
