<!DOCTYPE html>
<html lang="en-US">
<head>
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

{% include meta.html %}
<link rel="stylesheet" href={{ "css/default.css" | relative_url }}>

</head>

<body>

  {% include navbar.html %}

  <div class="container">
    <div class="content card">
      <div class="cell-content">
        <div class="cardtitle">
          {{ page.title }}
        </div>
        <div class="cardcontent">
          {{ page.content }}
        </div>
        <div class="cardbottom">
          <div class="cardmeta">
            Published on <strong>{{ page.date | date_to_long_string }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

</body>
</html>
