---
title: Home
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Simon Barth's portfolio</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />
  </head>
  <body>
    <div class="home-container">
      <section class="hero">
        <div>
          <h1>Simon<br>Barth</h1>
          <span>Software Developer &amp; Dev-Ops enthusiast</span>
        </div>
        <span>↓</span>
      </section>
      <section>
        <main>
          # TODO: Write stuff
        </main>
      </div>
    </section>
  </body>
</html>
